
<!-- Jumbotron -->
<div class="jumbotron p-0">

  <!-- Card image -->
  <div class="view overlay rounded-top">
  	<%= image_tag("4.jpg", :width => "100%", :alt => "Nature Image") %>
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>Plant Managment Web application</strong></h3>
    <!-- Text -->
    <p class="card-text py-2">Wish you want to track all your plant details? You are in Right place!!!</p>
    <!-- Button -->
    <%= link_to "Signup",  new_user_registration_path, class: "btn btn-warning mr-3", style: "border-radius: 17px" %>
    <%= link_to "Log-in",  new_user_session_path, class: "btn btn-success ml-3", style: "border-radius: 17px" %>

  </div>

</div>
<!-- Jumbotron -->
<div class="row mb-4">
	
	<div class="col-5 bg-danger">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Curabitur blandit velit finibus ipsum consectetur, et interdum purus venenatis.
Aliquam malesuada lacus eget magna elementum gravida.
Nulla ut nibh congue, ullamcorper lorem quis, pretium elit.
Sed condimentum quam eu varius ultricies.
Sed vitae purus mattis, tincidunt leo quis, sodales tellus.
Nunc eget lacus cursus, congue leo in, malesuada libero.
Donec iaculis metus vel fringilla blandit.
Nam vel metus eu felis tempus elementum id vel libero.
Etiam at risus viverra orci dapibus porttitor et nec massa.
Mauris vel neque posuere sapien vulputate commodo.
Sed eu sapien ut ex congue auctor ac congue tellus.
Pellentesque quis mi non felis gravida condimentum.
Nullam eget elit vehicula, tempor libero ac, convallis urna.
Nullam in dui id neque volutpat cursus.
Pellentesque tristique nibh ac sem consectetur, vel lobortis ipsum venenatis.
Maecenas quis mauris at dui luctus convallis sit amet et felis.
Fusce tincidunt felis aliquet malesuada venenatis.
Aenean gravida nibh sit amet mi gravida, in vestibulum dolor placerat.
Curabitur posuere lectus ac scelerisque elementum.
Generated 5 paragraphs, 153 words, 1139 bytes of Lorem Ipsum
	</div>

	<div class="col-5 bg-info">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Curabitur blandit velit finibus ipsum consectetur, et interdum purus venenatis.
Aliquam malesuada lacus eget magna elementum gravida.
Nulla ut nibh congue, ullamcorper lorem quis, pretium elit.
Sed condimentum quam eu varius ultricies.
Sed vitae purus mattis, tincidunt leo quis, sodales tellus.
Nunc eget lacus cursus, congue leo in, malesuada libero.
Donec iaculis metus vel fringilla blandit.
Nam vel metus eu felis tempus elementum id vel libero.
Etiam at risus viverra orci dapibus porttitor et nec massa.
Mauris vel neque posuere sapien vulputate commodo.
Sed eu sapien ut ex congue auctor ac congue tellus.
Pellentesque quis mi non felis gravida condimentum.
Nullam eget elit vehicula, tempor libero ac, convallis urna.
Nullam in dui id neque volutpat cursus.
Pellentesque tristique nibh ac sem consectetur, vel lobortis ipsum venenatis.
Maecenas quis mauris at dui luctus convallis sit amet et felis.
Fusce tincidunt felis aliquet malesuada venenatis.
Aenean gravida nibh sit amet mi gravida, in vestibulum dolor placerat.
Curabitur posuere lectus ac scelerisque elementum.
Generated 5 paragraphs, 153 words, 1139 bytes of Lorem Ipsum
	</div>


</div>

