
<div class="container">
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= @width.to_i %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>


<style>
	.neat {
	  min-height: calc(100vh - 120px);
	 }
</style>